.square {
    width: 80px;
    height: 80px;
    background: #ff6d6d;
    border-radius: 8px;
    // position: absolute;
    // transform: translate3d(0, i * 100px, 0);

    box-sizing: content-box;

    &:nth-child(odd) {
        transform: translate3d(0, 0, 0);
    }
    &:nth-child(even) {
        transform: translate3d(100vw, 0, 0);
    }
}
